body {
    font-family: sans-serif, 'Verdana';
    background: rgba(226, 226, 226, 1);
}

.btn {
    margin-top: 10px;
    background-color: olivedrab;
}

input[type='checkbox'],
input[type='radio'] {
    display: inline;
}

.centerText {
    text-align: center;
}

.centerElement {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#required {
    display: inline;
    color: darkred;
}

fieldset:nth-child(even) {
    background-color: #ddd;
    display: block;
}

fieldset:nth-child(odd) {
    background-color: antiquewhite;
    display: block;
}

#gradeForm {
    margin-left: 25%;
    margin-top: 17vh;
    margin-bottom: 2%;
    border: thin solid black;
    width: 50%;
    border-radius: .2em;
}

#formHead {
    background-image: url("../img/blue.jpg");
    margin: 0;
    padding: 0;
}

.formBreak {
    background-image: url("../img/gold.jpg");
    margin: 0;
    padding: 0;
}

label {
    padding: .5em;
}

#standardHead {
    top: 0;
    /*border-radius: .4em;*/
    position: fixed;
    width: 100%;
    height: 15vh;
    /*background:  #255E69;*/
    background-image: url("../img/blue.jpg");
}

#standardHead h1 {
    color: antiquewhite;
    margin: .5em;
    padding: .5em;
    font-size: 2.5em;
    font-family: 'Rye', cursive;
}

.hidden {
    display: none;
}

.help {
    color: darkred;
    font-size: 1.2em;
}

#results {
    margin-top: 17vh;
}

#rowOdd {
    background-color: antiquewhite;
    display: block;
}

#rowEven {
    background-color: #ddd;
    display: block;
}

.bold {
    font-weight: bold;
}